<div class="main">
  <div class="main-cont">
    <div class="logo">
      <h1>Добавить контакт</h1>
    </div>
    <form #login="ngForm" method="post" (ngSubmit)="submit()">
      <div class="form-cont">
        <label class="labels">Имя: </label>
        <div class="name-inp inp">
          <input
            type="text"
            name="Name"
            [(ngModel)]="phone.name"
            maxlength="50"
          />
          <div *ngIf="error">dddddd</div>
        </div>
        <label class="labels">Фамилия: </label>
        <div class="surname-inp inp">
          <input
            type="text"
            name="Surname"
            [(ngModel)]="phone.surname"
            maxlength="50"
          />
        </div>
        <label class="labels">Телефон: </label>
        <div class="phone-inp inp">
          <input
            type="tel"
            name="Phone"
            [(ngModel)]="phone.phone"
            maxlength="50"
          />
        </div>
      </div>
      <div class="but-cont">
        <input type="submit" value="Добавить" />
      </div>
    </form>
  </div>
</div>
