<div class="main">
  <div class="main-cont">
    <div class="logo">
      <h1>Добавить контакт</h1>
    </div>
    <form #login="ngForm" method="post" (ngSubmit)="submit(login.value)" class="form-cont">
      <label class="inp">Имя: </label>
      <div class="name-inp inp">
        <input type="text" name="Name" ngModel/>
      </div>
      <label class="inp">Фамилия: </label>
      <div class="surname-inp inp">
        <input type="text" name="Surname" ngModel/>
      </div>

      <label class="inp">Телефон: </label>
      <div class="phone-inp inp">
        <input type="tel" name="Phone" ngModel/>
      </div>
      <div class="submit-cont inp">
        <input type="submit" value="Добавить" ngModel/>
      </div>
    </form>
  </div>
  
</div>
