<div class="home">
  <div *ngIf="phones" class="phones">
    <div class="main">
      <div class="logo">
        <h1>
          <b>Phonebook</b>
        </h1>
      </div>
      <div class="scroll-cont">
        <div *ngFor="let phone of phones">
          <div class="phones-cont">
            <div class="phones">
              <p>{{phone.surname}}</p>
            </div>
            <div class="phones">
              <p>{{phone.name}}</p>
            </div>
            <div class="img-cont">
              <p>Телефон:</p>
            </div>
            <div class="phone-cont">
              <p>{{phone.phone}}</p>
            </div>
          </div>
          <div class="but-cont">
            <button (click)="openDialog(phone, phones.indexOf(phone))">Редактировать</button>
          </div>
        </div>
      </div>
      <div class="but-cont" style="margin-top:3px">
        <button (click)="addContact()">Добавить контакт</button>
      </div>
    </div>
  </div>
</div>
