.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.logo h1 {
  margin-top: 2rem;
}
.phones-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid;
  margin: 1rem;
  cursor: pointer;
}
.phones-cont:hover {
  transform: scale(1.05);
  box-shadow: inset 4px 4px 9px #c0a5a5, inset -4px -4px 9px #c0a5a5;
}
.main {
  height: 80%;
  width: 30rem;
  color: white;
  overflow: hidden;
  border-radius: 30px;
  background: #af8383;
  box-shadow: 20px 20px 60px #956f6f, -20px -20px 60px #c99797;
}
.but-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.but-cont button {
  border-radius: 5px;
  background: #af8383;
  color: white;
}
.scroll-cont {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scroll-cont::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.phones-cont p {
  width: 10rem;
  margin: 1rem;
}
.img-cont {
  display: flex;
  align-items: center;
  justify-content: right;
  border-top: 1px solid;
}
.phone-cont {
  border-top: 1px solid;
  font-size: larger;
  grid-column: 2;
  column-span: all;
}
.phones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.phones p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-cont {
  height: 70vh;
  overflow-y: scroll;
}
@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
  }

  .phone-cont {
    width: min-content;
  }

  .phones {
    width: min-content;
  }

  .phones-cont p {
    width: min-content;
    margin: 1rem;
  }
}
